body{
    background: radial-gradient(gold, goldenrod);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 1.5rem;
    position: relative;
}

img{
    padding: 10px;
    height: 100px;
    width: 100px;
}

img:hover{
    transform: scale(1.4);
    transition: all 1s;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 400px;
}